/* Color Theme Swatches in Hex */
/* .principal { color: #400101; }
.fundo { color: #F2A413; }
.Sabor-2-hex { color: #F28E13; }
.Sabor-3-hex { color: #BF4904; }
.destaque { color: #730202; } */
html {
    background: #F2A413;
    color: #400101;
}